<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429377298853-3dc58iensvhgoa8vuui84oqauomgjisk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429377298853-3dc58iensvhgoa8vuui84oqauomgjisk</string>
	<key>API_KEY</key>
	<string>AIzaSyBS7GoGAPJBdWT5S0AYjT4jJXwZwyMBh0U</string>
	<key>GCM_SENDER_ID</key>
	<string>429377298853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sreekumar.ImageUploader</string>
	<key>PROJECT_ID</key>
	<string>imageuploader-b3d9f</string>
	<key>STORAGE_BUCKET</key>
	<string>imageuploader-b3d9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429377298853:ios:c6f1538e6f748d31ae084c</string>
	<key>DATABASE_URL</key>
	<string>https://imageuploader-b3d9f.firebaseio.com</string>
</dict>
</plist>